@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;
  
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
  --color-dark-border: #334155;
}

@layer base {
  body {
    @apply bg-dark-bg text-slate-50 transition-colors duration-300;
  }
}

@utility glass {
  @apply bg-slate-800/70 backdrop-blur-md border border-slate-700/50 shadow-xl;
}